---
import Mainlayout from "../Mainlayout.astro"
import Nyhedsbrev from "../../components/Nyhedsbrev.astro"
import Arrow from "../../components/Arrow.astro"

export async function getStaticPaths () {
    const data = await fetch ('https://qykudgwkpukswmlhoyxc.supabase.co/rest/v1/clf?select=*', {
	method: "GET",
	headers: {
		apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InF5a3VkZ3drcHVrc3dtbGhveXhjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTA1MDA4MzUsImV4cCI6MjAyNjA3NjgzNX0.3NKiAvXLoozXEgUzIxcWpW1A4IR947vC84DWEsldFZk"
	},
}).then(response => response.json ());

    return data.map ((skulptur)=> {
        return {
            params: { id: skulptur.id},
            props: {myData:skulptur},
        };
        
        });
    }
    const {myData} = Astro.props;
    console.log(myData)
---

<Mainlayout>
    <div class="pil"><Arrow/></div>
 <div class="singleview"> 
<div class="billede">
    <img src={myData.photos} alt=""></div>

    <div class="grid2">
        <div class="beskrivelse">
            <h2>{myData.id}.</h2>
            <h2>{myData.Navn}</h2>
        </div>
        <div class="placering">
            <h3>Kunstner: <span class="normal-text">{myData.Kunstner}</span></h3>
            <h3>Lokation: <span class="normal-text">{myData.lokation}</span></h3>
        </div>
        <div class="paragraf">
            <p>{myData.beskrivelse}</p>
        </div>
    </div>
</div>
<Nyhedsbrev/>
</Mainlayout>
<style>
@media (min-width: 768px) {
    .pil {
        display: grid;
        margin-left: 50px;
        margin-top: 10px;

    
}
img {
    width: auto;
}

.singleview {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    grid-gap: 50px;

}
.grid2 {
    margin-right: 20px
}
.beskrivelse {
    display: flex;
    grid-gap: 20px;
}

.normal-text {
    font-weight: normal; 
    
}
.paragraf {
    line-height: 1.8 ;
    padding-top: 20px;
    font-style: italic;
}
.billede {
    justify-self: center;
    margin-left: 20px;
}

}
@media (max-width: 768px) {
    .pil {
        display: grid;
        justify-content: end;
        margin-right: 50px;
        margin-bottom: 10px;

    
}
   
img {
    width: 100%;
}
.singleview {
    display: grid;
    grid-template-rows: 2fr;
  margin-left: 50px;
  margin-right: 50px;
    grid-gap: 10px;

}
.beskrivelse {
    display: flex;
    grid-gap: 20px;
}

.normal-text {
    font-weight: normal; 
}
.paragraf {
    line-height: 1.8 ;
    padding-top: 10px;
    font-style: italic;
}
.billede {
    justify-self: center;
} 
.arrow {

}
}
</style>